# Copy to ".env" and fill in from the Neon Console.
# Data API page -> "API URL"
VITE_NEON_DATA_API_URL=https://ep-quiet-rain-atrvj8wq.apirest.c-9.us-east-1.aws.neon.tech/neondb/rest/v1
# Auth page -> Configuration -> "Auth URL"
VITE_NEON_AUTH_URL=https://ep-quiet-rain-atrvj8wq.neonauth.c-9.us-east-1.aws.neon.tech/neondb/auth
